@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #232427;
} */

body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

body .container .card {
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

/* a=button */
body .container .card:nth-child(1) .box .content Button {
  background: gold;
}

body .container .card .box {
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

body .container .card .box .content {
  padding: 10px;
  text-align: center;
}

body .container .card .box .content h6 {
  top: 10px;
  right: 20px;
  font-size: 1rem;
  color: #fff;
  opacity: 0.5;
}

body .container .card .box .content h4 {
  font-size: 1.25rem;
  color: #fff;
  z-index: 1;
  margin-bottom: 10px;
}

strong {
  color: gold;
}

body .container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

body .container .card .box .content .btn {
  display: inline-block;
  padding: 8px 20px;
  background: gold;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  font-weight: 500;
}

body .container .card .box .content .btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: gold;
  color: #000;
  font-weight: 500;
}
